body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container_user{
  display: flex;
  align-items: center;
  justify-content: center;
}

.user{
  font-size: 2rem;
}

.buttonUser{
  width: auto;
  height: auto;
  color: blue;
}
.container_inner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50rem;
  background-color: azure;
}